logs
*.log
npm-debug.log*
node_modules
dist
dist-ssr
*.local
.env
.env.*.local
.env.production
!.env.production.example
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

api/uploads
api/generated
web/dist
