NODE_ENV=development
PORT=3333
HOST=0.0.0.0

# Banco local (Docker na porta 5433)
DATABASE_URL=postgresql://paroquia:paroquia@localhost:5433/paroquia?schema=public

JWT_SECRET=troque-esta-chave-em-producao-minimo-32-caracteres
JWT_EXPIRES_IN=15m
REFRESH_EXPIRES_DAYS=7

CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173
STORAGE_PROVIDER=local
UPLOAD_DIR=uploads
PUBLIC_URL=http://localhost:3333
MAX_UPLOAD_MB=15
